spring:
    datasource:
        url: jdbc:postgresql://localhost:5432/${POSTGRES_DB}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver

    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
                show_sql: true
        open-in-view: false

    docker:
        compose:
            enabled: true
            file: compose.yaml

logging:
    level:
        org.hibernate.SQL: DEBUG
        org.hibernate.orm.jdbc.bind: TRACE

management:
    endpoints:
        web:
            exposure:
                include: "health"
            base-path: /actuator
    endpoint:
        health:
            show-details: when-authorized
