spring:
    datasource:
        url: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_DB:local-lokitapi}
        username: ${POSTGRES_USER:postgres}
        password: ${POSTGRES_PASSWORD:local-password}
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
            jdbc:
                time_zone: Asia/Seoul
        open-in-view: false

    docker:
        compose:
            enabled: true
            file: compose.yaml

logging:
    level:
        kr.co.lokit.api: DEBUG

management:
    endpoints:
        web:
            exposure:
                include: "health"
            base-path: /actuator
