spring:
    datasource:
        url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver
        hikari:
            maximum-pool-size: 30
            minimum-idle: 10
            connection-timeout: 5000
            idle-timeout: 600000
            max-lifetime: 1800000
            connection-test-query: SELECT 1
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: false
                show_sql: false
                use_sql_comments: true
                jdbc:
                    batch_size: 50
                default_batch_fetch_size: 100
                order_inserts: true
                order_updates: true
            jdbc:
                time_zone: Asia/Seoul
        open-in-view: false

logging:
    request:
        verbose: true
    level:
        root: INFO
        kr.co.lokit.api: DEBUG

management:
    endpoints:
        web:
            exposure:
                include: "health,prometheus"
            base-path: /actuator
    endpoint:
        health:
            show-details: when-authorized

jwt:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}
    refresh-expiration: ${JWT_REFRESH_EXPIRATION}

springdoc:
    api-docs:
        enabled: true
        path: /docs
    swagger-ui:
        enabled: true
        path: /swagger
        display-request-duration: true
        tags-sorter: alpha
    default-consumes-media-type: application/json
    default-produces-media-type: application/json

aws:
    s3:
        enabled: true
        region: ${AWS_REGION}
        bucket: ${AWS_S3_BUCKET}

cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}

kakao:
    api:
        key: ${KAKAO_API_KEY}
    client-id: ${KAKAO_CLIENT_ID}
    client-secret: ${KAKAO_CLIENT_SECRET}
    redirect-uri: ${KAKAO_REDIRECT_URI}
    front-redirect-uri: ${KAKAO_FRONT_REDIRECT_URI}

cookie:
    secure: true
    domain: ${COOKIE_DOMAIN:}

discord:
    webhook:
        url: ${DISCORD_WEBHOOK_URL:}

admin.key: ${ADMIN_KEY:}
