spring:
    datasource:
        url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
        username: ${POSTGRES_USER}
        password: ${POSTGRES_PASSWORD}
        driver-class-name: org.postgresql.Driver
    jpa:
        hibernate:
            ddl-auto: update
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true
                show_sql: true
                use_sql_comments: true
            jdbc:
                time_zone: Asia/Seoul
        open-in-view: false

logging:
    level:
        org.hibernate.orm.jdbc.bind: trace
        root: INFO
        kr.co.lokit.api: DEBUG

management:
    endpoints:
        web:
            exposure:
                include: "health"
            base-path: /actuator
    endpoint:
        health:
            show-details: when-authorized

jwt:
    secret: ${JWT_SECRET}
    expiration: ${JWT_EXPIRATION}

springdoc:
    api-docs:
        enabled: true
        path: /docs
    swagger-ui:
        enabled: true
        path: /swagger
        display-request-duration: true
    default-consumes-media-type: application/json
    default-produces-media-type: application/json

aws:
    s3:
        region: ${AWS_REGION}
        bucket: ${AWS_S3_BUCKET}

cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS}
