<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="kr.co.lokit.api.config.logging.MaskingPatternLayout">
                    <maskPattern>
                        <![CDATA[("?(access_?token|refresh_?token|authorization|token)"?\s*[:=]\s*"?)(Bearer\s*)?[^"\s,]+]]>
                    </maskPattern>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{requestId}] [%X{clientIp}] [%X{requestMethod}
                        %X{requestUri}] %-5level %logger{36} - %msg%n
                    </pattern>
                </layout>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ERROR_FILE"/>
            <appender-ref ref="ERROR_CONSOLE"/>
        </root>
        <logger name="kr.co.lokit.api" level="DEBUG"/>
    </springProfile>

    <springProfile name="dev">
        <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="kr.co.lokit.api.config.logging.MaskingJsonLayout">
                    <prettyPrint>true</prettyPrint>
                    <maskPattern>
                        <![CDATA[("?(access_?token|refresh_?token|authorization|token)"?\s*[:=]\s*"?)(Bearer\s*)?[^"\s,]+]]>
                    </maskPattern>
                </layout>
            </encoder>
        </appender>

        <appender name="ERROR_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="kr.co.lokit.api.config.logging.MaskingJsonLayout">
                    <prettyPrint>true</prettyPrint>
                    <maskPattern>
                        <![CDATA[("?(access_?token|refresh_?token|authorization|token)"?\s*[:=]\s*"?)(Bearer\s*)?[^"\s,]+]]>
                    </maskPattern>
                </layout>
            </encoder>
        </appender>

        <appender name="ERROR_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>ERROR</level>
            </filter>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/error.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="kr.co.lokit.api.config.logging.MaskingJsonLayout">
                    <prettyPrint>true</prettyPrint>
                    <maskPattern>
                        <![CDATA[("?(access_?token|refresh_?token|authorization|token)"?\s*[:=]\s*"?)(Bearer\s*)?[^"\s,]+]]>
                    </maskPattern>
                </layout>
            </encoder>
        </appender>

        <logger name="org.springframework.web.filter.OncePerRequestFilter" level="INFO"/>
        <logger name="kr.co.lokit.api.config.logging.MdcContextFilter" level="INFO"/>
        <logger name="kr.co.lokit.api.config.security.AuthenticationFilter" level="INFO"/>

        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
            <appender-ref ref="ERROR_FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="kr.co.lokit.api.config.logging.MaskingJsonLayout">
                    <prettyPrint>false</prettyPrint>
                    <maskPattern>
                        <![CDATA[("?(access_?token|refresh_?token|authorization|token)"?\s*[:=]\s*"?)(Bearer\s*)?[^"\s,]+]]>
                    </maskPattern>
                </layout>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
