<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property
        name="MASK_PATTERN"
        value='("?(access_?token|refresh_?token|authorization|token)"?\s*[:=]\s*"?)(Bearer\s*)?[^",\s}]+'/>


    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="kr.co.lokit.api.config.logging.MaskingPatternLayout">
                    <maskPattern>${MASK_PATTERNMASK_PATTERN}</maskPattern>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{requestId}] [%X{clientIp}] [%X{requestMethod}
                        %X{requestUri}] %-5level %logger{36} - %msg%n
                    </pattern>
                </layout>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="kr.co.lokit.api" level="DEBUG"/>
    </springProfile>

    <springProfile name="dev, prod">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
                <layout class="kr.co.lokit.api.config.logging.MaskingJsonLayout">
                    <maskPattern>${MASK_PATTERN}</maskPattern>
                </layout>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
