domain {
    tls email
    encode zstd gzip

    @actuator_blocked {
                          path /api/actuator*
                          not path /api/actuator/health* /api/admin/* /api/swagger* /api/docs*
                      }
    respond @actuator_blocked 404

    reverse_proxy /api/* localhost:8080 {
                                            header_up Host {host}
                                            header_up X-Real-IP {remote}

                                            health_uri /api/actuator/health
                                            health_interval 1m
                                        }
}
