name: Manual CI/CD Pipeline
on:
    workflow_dispatch:
        inputs:
            action:
                description: '실행할 작업'
                required: true
                type: choice
                options:
                    - build-only
                    - deploy-only
                    - build-and-deploy

env:
    AWS_REGION: ap-northeast-2

jobs:
    ci:
        if: ${{ inputs.action == 'build-only' || inputs.action == 'build-and-deploy' }}
        uses: ./.github/workflows/dev-ci.yaml
        secrets: inherit

    cd-after-build:
        if: ${{ inputs.action == 'build-and-deploy' }}
        needs: [ ci ]
        uses: ./.github/workflows/dev-cd.yaml
        secrets: inherit

    cd-only:
        if: ${{ inputs.action == 'deploy-only' }}
        uses: ./.github/workflows/dev-cd.yaml
        secrets: inherit
        with:
            image_tag: ${{ inputs.image_tag }}
